doctype html
html
  head
    title Employee Management
    link(rel="stylesheet", href="/style.css")
  body
    header
      h1 Employee Management System
      nav
        a.button(href="/") Home
        a.button(href="/new") Add Employee
    block content
