extends layout

block content
  h1 Add New Employee
  form(method="POST", action="/create")
    input(type="text", name="e_id", placeholder="Employee ID", required)
    input(type="text", name="e_name", placeholder="Employee Name", required)
    input(type="email", name="e_email", placeholder="Employee Email", required)
    input(type="text", name="e_number", placeholder="Employee Number", required)
    select(name="e_gender", required)
      option(value="") -- Select Gender --
      option(value="Male") Male
      option(value="Female") Female
      option(value="Other") Other
    input(type="text", name="e_dep", placeholder="Department", required)
    input(type="text", name="e_location", placeholder="Location", required)
    button(type="submit") Submit
